<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%16thread] %-5level %30logger{30} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="de.fraunhofer.iosb.ilt.sta.dao.BaseDao" level="INFO"/>
    <logger name="org.reflections8.Reflections" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
